{% extends "auth_base.html" %}

{% block content %}

<h2>Восстановление пароля</h2>

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

{% if success %}
<div class="alert alert-success">
    {{ success }}
</div>
{% endif %}

<form method="post" action="/auth/forgot-password-page">

    <div class="mb-3">
        <label>Email</label>

        <input
            type="email"
            name="email"
            class="form-control"
            required>
    </div>

    <button
        type="submit"
        class="btn btn-primary">

        Отправить ссылку

    </button>

</form>

{% endblock %}