{% extends "auth_base.html" %}

{% block content %}

<h2>Новый пароль</h2>

{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

<form method="post" action="/auth/reset-password-page">

    <input
        type="hidden"
        name="token"
        value="{{ token }}">

    <div class="mb-3">

        <label>Новый пароль</label>

        <div class="input-group">

            <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                required>

            <button
                type="button"
                class="btn btn-outline-secondary"
                onclick="togglePassword()">

                👁

            </button>

        </div>

    <button
        type="submit"
        class="btn btn-primary">

        Сменить пароль

    </button>

</form>

<script>

function togglePassword() {

    const field = document.getElementById(
        "password"
    );

    if (field.type === "password") {
        field.type = "text";
    }
    else {
        field.type = "password";
    }

}

</script>

{% endblock %}