{% extends "base.html" %}

{% block title %}
Создание подрядчика
{% endblock %}

{% block content %}

{% include "components/error_alert.html" %}

{% include "components/create_form_start.html" %}

<div class="mb-3">

    <label class="form-label">
        Название
    </label>

    <input
        type="text"
        name="name"
        class="form-control"
        required>

</div>

<div class="mb-3">

    <label class="form-label">
        Описание
    </label>

    <textarea
        name="description"
        class="form-control"
        rows="4"
        required></textarea>

</div>

<div class="mb-3">

    <label class="form-label">
        Email
    </label>

    <input
        type="text"
        name="email"
        class="form-control"
        placeholder="mail1@example.com, mail2@example.com">

    <div class="form-text">
        Укажите один или несколько email-адресов через запятую.
    </div>

</div>

{% include "components/create_form_end.html" %}

{% endblock %}