{% extends "base.html" %}

{% block title %}
Успешно
{% endblock %}

{% block content %}

{% include "components/error_alert.html" %}

<div class="card">

    <div class="card-header bg-success text-white">

        <h4 class="mb-0">

            ✅ Успешное {{ message }}

        </h4>

    </div>

        {% if return_url %}

        <a
            href="{{ return_url }}"
            class="btn btn-primary">

            Вернуться

        </a>

        {% endif %}

    </div>

</div>

{% endblock %}